{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Book - {{ book.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit Book: {{ book.title }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
            <a href="{% url 'main:book_details' book.id %}">Cancel</a>
        </form>
    </div>
</body>
</html>
