
input[type="text"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
}


#togglePassword,
#eyePassword {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;

}

.profileOverview img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
