body {
    font-family: "Calibri Light";
    background:#f5efeb;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    border-bottom: 2px solid #1a2a44;
    padding-bottom: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    font-weight: bold;
}

label {
    font-size: 22px;
    color:#1a2a44;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid  #f5efeb;
    border-radius: 5px;
}

button {
    background-color: #1a2a99;
    color:  #f5efeb;
    padding: 10px 15px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
    display: block;
    margin: 0 auto 5px;
}

button:hover {
    background-color: #4400FA;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1a2a44;
    border-radius: 5px;
    background-color:  #f5efeb;
    color: #1a2a44;
    cursor: pointer;
    font-weight: bold;
}

select option {
    padding: 10px;
    background-color:  #f5efeb;
    color:#1a2a44;
    font-weight: bold;
}

.search-section {
    text-align: left;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-section img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.search-section input {
    padding: 5px 5px 5px 40px;
    margin: 0;
    width: 400px;
    height: 30px;
    position: relative;
}

.search-container {
    display: flex;
    align-items: center;
}

.container h2 {
    font-size: 26px;
    color:#1a2a44;
    margin-bottom: 10px;
    font-weight: bold;
}

.container p {
    font-size: 16px;
    color:#1a2a44;
    margin-bottom: 20px;
    font-weight: bold;
}

.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 7%;
    margin-bottom: 5%;
    position: relative;
    background-color:  #f5efeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#about {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #f5efeb;
    margin: 80px;
}

.confirmation-box {
    background:  #f5efeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1000px;
    height: 550px;
}

.shadow {
    background-color: rgba(000, 000, 100, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hero {
    background: url("imgs/background.jpg") center/cover no-repeat;
    color: #f5efeb;
    padding: 170px 50px;
    text-align: center;
}