/*general items*/
body {
    font-family: "Calibri Light";
    background-color: #F5EFEB;
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 2px solid #2F4156;
    padding-bottom: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    font-weight: bold;
}

form {
    background-color:  #c8d9e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

label {
    font-size: 22px;
    color: #2F4156;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3c5d82;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
    display: block;
    margin: 0 auto 70px;
}

button:hover {
    background-color: #8ab4c7;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1a2a44;
    border-radius: 5px;
    background-color: white;
    color: #1a2a44;
    cursor: pointer;
    font-weight: bold;
}

select option {
    padding: 10px;
    background-color: white;
    color: #1a2a44;
    font-weight: bold;
}

/*side/navigation bar*/
#logo{
    color: #c8d9e6;
    position: fixed;
    left: 1%;
    top: 0;
    font-size: 28px;
    font-weight: normal;
    margin: 0.7%;
}

.sidebar {
    width: 10%;
    min-width: 90px;
    color: #2F4156;
    background-color: #567c8d;
    padding: 1%;
    padding-top: 2%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 7%;
    
}

.sidebar h3 {
    position: fixed;
    font-size: 25px;
    left: 1%;
    top: 7%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
    left: 0;
}

.sidebar ul li {
    padding: 0.5%;
    cursor: pointer;
    border-bottom: 1px solid #F5EFEB;
    text-align: left;
    left: 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color:  #2F4156;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar a:hover {
    text-decoration: underline;
    text-align: left;
}


.navigation {
    background-color: #2F4156;
    padding: 1% 1%;
    color: #c8d9e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 1000;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 0 1%;
}

.navigation a {
    color: #c8d9e6;
    text-decoration: none;
    font-size: 18px;
}

.profile {
    position: fixed;
    right: 2%;
    margin:2%;
}

/*search bar*/
.search-section {
    text-align: left;
    margin-bottom: 10px;
    height: 50px;
}

.search-section input {
    padding: 5px;
    margin: 0;
    width: 400px;
    height: 30px;
}

.search-container {
    display: flex;
    align-items: center;
}

/*containers*/
.main-content {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 30px;
    width: 1000px;
}

.main-content h2 {
    font-size: 26px;
    color: #2F4156;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-content p {
    font-size: 16px;
    color: #2F4156;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer {
    background-color: #2F4156;
    text-align: center;
    padding: 0.5%;
    font-size: 14px;
    color: #F5EFEB;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container{
    justify-content: vertical;
    margin-top: 5%;
    margin-left : 15%;
    position: relative;
    margin-bottom: 100px;
    width: 1250px;
}

/*every thing about books*/
.all-books {
    margin-left: 180px;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
}

.book-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom:10px solid #2f4156;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
    z-index: 1;
}

.book {
    width: 150px;
    height: 350px;
    text-align: center;
    margin: 50px;
}

.book img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.book-title {
    font-weight: bold;
    font-size: 14px;
    color: #2f4156;
}

.book-author {
    font-size: 14px;
    color: #2f4156;
    font-weight: bold;
}

.section-title {
    background-color: #c8d9e6;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    z-index: 2;
}

.book-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #1a2a44;
    font-size: 20px;
}

.book-info img {
    width: 300px;
    height: 400px;
    margin-right: 15px;
}
/*about us/books*/
#about{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #2F4156;
    margin: 80px;
}

#AboutBook {
    background-color: #c8d9e6;
    padding: 20px;
    width: 1200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    position: relative;
    left: 100px;
    top: 50px;
    bottom: 150px;
    flex-direction: column;
}

#AboutBook h2 {
    color: #2F4156;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
}

#AboutBook .content-row {
    display: flex;
    align-items: flex-start;
}

#AboutBook img {
    height: 200px;
    border-radius: 4px;
    margin-right: 20px;
}

#AboutBook p {
    color: #2F4156;
    font-weight: bold;
    font-size: 20px;
}



/*user profile*/
.profile-card {
    background: white;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: max(13%, 130px);
    margin-right: 1%;
    margin-top: 4.25%;
    margin-bottom: 130px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card p {
    color: #2F4156;
    font-size: 18px;
    margin: 5px 0;
}

/*admin things*/
.confirmation-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1000px;
    height: 550px;
}

.book-edite a {
    display: block;
    text-decoration: none;
    color:  #2F4156;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.book-edite a:hover {
    text-decoration: underline;
}


