.profile-card {
    background:  #f5efeb;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card p {
    color: #1a2a44;
    font-size: 18px;
    margin: 5px 0;
}

strong{
    font-size: 20px;
    color: #1a2a44;
}

input{
    font-weight: bold;
    font-size: 15px;
    left: 10%;
    background:#f5efeb;
}

textarea{
    font-weight: bold;
    font-size: 15px;
    left: 10%;
    background: #f5efeb;
}