{% extends 'main/bars.html' %}
{% load static %}

{% block content %}
<div class="container main-content">
    <h2>Admin Dashboard</h2>
    <div class="admin-actions">
        <a href="{% url 'main:addnewbook' %}">
            <button class="btn btn-primary">Add Books</button>
        </a>
    </div>

    <div class="visits mt-4 p-3 border rounded">
        <i class="fa-solid fa-users"></i>
        <h3 style="text-align: center;">Number of visits in the past week</h3>
        <p style="text-align: center;">27</p>
    </div>

    <div class="books mt-4 p-3 border rounded">
        <i class="fa-solid fa-book"></i>
        <h3 style="text-align: center;">Total Number of Books</h3>
        <p style="text-align: center;">{{ total_books }}</p>
    </div>
</div>
{% endblock %}
