{% extends 'main/bars.html' %}
{% load static %}

{% block content %}
<div class="container main-content">
    <h2>Admin Dashboard</h2>
    <div class="admin-actions">
        <a href="{% url 'main:add_new_book' %}">
            <button class="btn btn-primary">Add & Delete Books</button>
        </a>
        <a href="{% url 'main:book_list' %}">
            <button class="btn btn-secondary">View Available Books</button>
        </a>
    </div>

    <div class="visits mt-4 p-3 border rounded">
        <i class="fa-solid fa-users"></i>
        <h3 style="text-align: center;">Number of visits in the past week</h3>
        <p style="text-align: center;">20</p>
    </div>
</div>
{% endblock %}
