{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Library - Book List</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/books.css' %}">
    <link rel="stylesheet" href="{% static 'main/bars.css' %}">
    <script src="{% static 'main/login-signup.js' %}"></script>
</head>

<body>
{% include 'main/bars.html' %}
<div class="container">
    <h1>The Readers' Planet - Book List</h1>
    <div class="search-section">
        <img src="{% static 'imgs/search.png' %}" style="width: 25px ; height: 25px">
        <input type="text" id="searchInput" style="background-color: white" placeholder="Search by Title or Author">
    </div>
    <div class="book-shelf" id="dynamicBookShelf"></div>

</div>
<script src="{% static 'main/booklist.js' %}"></script>
<script src="{% static 'main/search.js' %}"></script>

<!-- JavaScript to Load Book Data from localStorage -->
<script>
    function updateUserButtons() {
        const userRole = localStorage.getItem("userRole");
        const userButtons = document.querySelectorAll(".user");
        userButtons.forEach((btn) => {
            btn.style.display = userRole === "user" ? "inline-block" : "none";
        });
    }

    // Ensure the function runs after the books are displayed
    document.addEventListener("DOMContentLoaded", () => {
        updateUserButtons();
    });
</script>

</body>
</html>