{% extends 'main/bars.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h2>Your Borrowed Books</h2>
    <div class="book-shelf">
      <!-- This is where the books will be dynamically added  -->
    </div>
  </div>
  <script>
        // Pass the books data from Django to JavaScript
        const books = [
            {% for record in borrow_records %}
            {
                title: "{{ record.book.title }}",
                author: "{{ record.book.author }}",
                genre: "{{ record.book.get_genre_display }}",
                status: "{{ record.book.get_status_display }}",
                image: "{% if record.book.cover_image %}{{ record.book.cover_image.url }}{% else %}{% static 'imgs/default-book-cover.jpg' %}{% endif %}",
                book_id: "{{ record.book.id }}",
                due_date: "{{ record.due_date }}"
            },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'main/borrow.js' %}"></script>
{% endblock %}

