{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books Library - User Profile</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/bars.css' %}">
        <link rel="stylesheet" href="{% static 'main/books.css' %}">
        <link rel="stylesheet" href="{% static 'main/userProfile.css' %}">
        <script src="{% static 'main/login-signup.js' %}"></script>
    </head>

    <body>
    {% include 'main/bars.html' %}
        <div class="profile-card">
            <div class="profileOverview">
                {% if user.userprofile.profile_image %}
                    <img src="{{ user.userprofile.profile_image.url }}" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'imgs/women.png' %}" alt="Profile Picture">
                {% endif %}
                <h3 style="font-size: 20px">{{ user.username }}</h3>
            </div>

            <p style="font-size: 20px"><strong>Age:</strong> {{ user.userprofile.age|default:"Not set" }}</p>
            <p style="font-size: 20px"><strong>Location:</strong> {{ user.userprofile.location|default:"Not set" }}</p>
            <p style="font-size: 20px"><strong>Hobbies:</strong> {{ user.userprofile.hobbies|default:"Not set" }}</p>
{#            <p style="font-size: 20px"><strong>Profile password:</strong> ********</p>#}
{#            <p style="font-size: 20px"><strong>Card password:</strong> ********</p>#}
{#            <p style="font-size: 20px"><strong>Card number:</strong> {{ user.userprofile.card_number|default:"Not set"|slice:":4" }} **** **** ****</p>#}
            <a href="{% url 'main:updateUserProfile' %}">
                <button>Update Profile</button>
            </a>
        </div>
        <script src="{% static 'main/userProfile.js' %}"></script>
    </body>
</html>
