{% extends 'main/bars.html' %}
{% load static %}

{% block content %}

<main class="container">
  <section>
    <h2 id="category-title">{{ genre|title }} Books</h2>
    <div id="book-shelf" class="book-shelf">
      {% if books %}
        {% for book in books %}
          <div class="book">
            <div class="book-inner">
              <div class="book-front">
                {% if book.cover_image %}
                  <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
                {% else %}
                  <img src="{% static 'imgs/default-book-cover.jpg' %}" alt="Default Cover">
                {% endif %}
              </div>
              <div class="book-back">
                <p class="book-title">{{ book.title }}</p>
                <p class="book-author">{{ book.author }}</p>
                <a href="{% url 'main:book_details' book.id %}" class="details"><button class="Details">Show Details</button></a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No books found for this genre.</p>
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
